<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
  <a class="navbar-brand" style="color:white;">Note Manager</a>
  <form class="form-inline my-2 my-lg-0">
    <input type="search" (ngModelChange)="searchNote(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search notes..." required>
  </form>

</nav>
<div class="container" id="container">
  <button (click)="onOpenModal(null, 'add')" class="btn btn-primary mb-2">Add Note</button>
  <div class="row">
    <div *ngFor="let note of notes" class="col-md-6 col-xl-4">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="card-title align-self-center mb-0 p-4">
            <h3>{{note?.title}}</h3>
            <p class="m-0">{{note?.text}}</p>
            <p class="m-0">{{note?.status}}</p>
          </div>
        </div>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(note, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(note, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Note Modal -->
  <div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addNoteModalLabel">Add Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddNote(addForm)">
            <div class="form-group">
              <label for="title-add">Title</label>
              <input type="text" ngModel name="title" class="form-control" id="title-add" placeholder="Title" required>
            </div>
            <div class="form-group">
              <label for="text-add">Text</label>
              <input type="text" ngModel name="text" class="form-control" id="text-add" placeholder="Text" required>
            </div>
            <div class="form-group">
              <label for="status-add">Status</label>
              <select ngModel name="status" class="form-control" id="status-add" required>
                <option value="CREATED">Created</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="CANCELED">Canceled</option>
                <option value="DONE">Done</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-note-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="updateNoteModal" tabindex="-1" role="dialog" aria-labelledby="noteEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateNoteModalLabel">Edit Note {{editNote?.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="title-edit">Title</label>
              <input type="text" ngModel="{{editNote?.title}}" name="title" class="form-control" id="title-edit" placeholder="Title">
            </div>
            <input type="hidden" ngModel="{{editNote?.id}}" name="id" class="form-control" id="id">
            <div class="form-group">
              <label for="text-edit">Job title</label>
              <input type="text" ngModel="{{editNote?.text}}" name="text" class="form-control" id="text-edit" placeholder="Text">
            </div>
            <div class="form-group">
              <label for="status-edit">Status</label>
              <select ngModel="{{editNote?.status}}" name="status" class="form-control" id="status-edit" required>
                <option value="CREATED">Created</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="CANCELED">Canceled</option>
                <option value="DONE">Done</option>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
              <button (click)="onUpdateNote(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteNoteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Delete Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete note {{deleteNote?.title}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            <button (click)="onDeleteNote(deleteNote?.id || 0)" class="btn btn-danger" data-dismiss="modal">Yes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no notes -->
<div *ngIf="notes?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No notes!</h4>
    <p>You have no notes.</p>
  </div>
</div>
